
/ADLINQ/ADLINQ.5.1.ReSharper.user
/ADLINQ/_ReSharper.ADLINQ
/ADLINQ/ADLINQ/obj
/ADLINQ/ADLINQ/bin
/ADLINQ/ADLINQ.Tests/obj
/ADLINQ/ADLINQ.Tests/bin
/ADLINQ/ADLINQ.UserAcceptanceTests/bin
/ADLINQ/ADLINQ.UserAcceptanceTests/obj
/ADLINQ/ADLINQ.Tests/ADLINQ.Tests.csproj.user
/ADLINQ/ADLINQ.Tests/ADLINQ.Tests.csproj.user
/ADLINQ/ADLINQ.Tests/ADLINQ.Tests.csproj.user